.itemlists {
    flex: 2;
    border: none;
    
    @include respond(big-phone){
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        padding: 20px 30px 0 30px;
    }

    @include respond(small-phone){
        border: none;
        padding: 0;
    }

    .see__more {
        background: $color-grey;
        width: 179px;
        text-align: center;
        padding: 5px 8px;
        border-radius: 4px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        h3{
            color: $color-black-light;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        span {
            display: inline-block;
        }
    }
}