$color-primary: #146eb4;
$color-black: #1a181e;
$color-black-light: #4d4d4d;
$color-grey: #f2f2f2;

$color-border: #e6e6e6;

$color-error: #e50b20;
$color-orange: #ee741f;

$color-green: #17b31b;


$grid-width: 90vw;
$gutter-vertical: 2rem;
$gutter-vertical-sm: 1rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-sm: 1rem;

.margin-bottom-xl {margin-bottom: 6rem;}
.margin-bottom-lg {margin-bottom: 1.5rem;}
.margin-bottom-md {margin-bottom: 0.8rem;}
.margin-bottom-sm {margin-bottom: 0.5rem;}

.margin-top-xl {margin-top: 6rem;}
.margin-top-lg {margin-top: 1.5rem;}
.margin-top-md {margin-top: 0.8rem;}
.margin-top-sm {margin-top: 0.5rem;}