.form__input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: $color-grey;
    color: $color-black;

    ::placeholder {
        color: #989898;
    }
}